<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CNPM_DoAn_Nhom2.Properties.Settings.QL_DOI_BONGConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QL_DOI_BONG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CNPM_DoAn_Nhom2.Properties.Settings.QL_DOI_BONGConnectionString1"
            connectionString="Data Source=DESKTOP-C0FC3VE;Initial Catalog=QL_DOI_BONG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>